
{% layout 'layout.liquid' %}
{% block content %}


<div class="container-sm">
    <form action="/auth/login" method="POST">
        <fieldset>
          <div class="myHealth"> <legend>My Health</legend></div>

        
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
          </fieldset>
          <br>
          <div class="login"> <input type="submit" value="Log In" class="btn btn-success"></div> 
        </form>
    </div>

{% endblock %}