{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Glucose Levels</h2>

    <!-- BUTTON TO CREATE A NEW GLUCOSE -->

    <div class="row">
        
        {% for glucose in glucoses %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header"> {{ glucose.date }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Value: {{ glucose.value }} 
                </p>
               
                <p class="card-text" style="color:rgb(6, 179, 121);">
                    A1C < 7%
                </p>
         
                <a href="/glucose/{{ glucose.id }}" class="btn btn-outline-primary">
                    View 
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href="/glucose/new" button type="button" class="btn btn-secondary btn-lg btn-block">Add New Entry</button></a>
{% endblock %}