{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/glucose" method="POST">
        <fieldset>
            <legend>Add Glucose reaading</legend>
            
            <!-- CALENDER TO CHOOSE A DATE -->
            <label class="form-label">Enter Date: </label>
            <input 
                type="string" 
                name="date" 
                placeholder="MM/DD/YYYY"
                class="form-control"
            >
           
            <!-- ADD VALUE -->
            <label class="form-label">Value: </label>
            <input 
                type="number"
                name="value" 
                class="form-control"
            >
            
            <!-- ADD TARGET TO DRUG -->
            <label class="form-label">Target: </label>
            <input 
                type="number" 
                name="target" 
                placeholder="enter your notes here" 
                class="form-control"
            >
            <!-- ADD NOTES -->
            <label class="form-label">Notes: </label>
            <input 
                type="text" 
                name="notes" 
                placeholder="enter your notes here" 
                class="form-control"
            >

        </fieldset>
        <input type="submit" value="Add med" class="btn btn-primary">
    </form>
</div>
{% endblock %}