{% layout "layout.liquid" %}
{% block content %}

    <div class="home"> 
        <h1>My Dashboard</h1><br>
        <h4>Welcome Back, {{ username }} !</h4> <br>
    <div class="dashintro"> 
        <p> Health App is an interactive web application that allows you to track 
        your medication, blood glucose levels, and find a pharmacy. Click on a link to get started</p>
        <!-- <p>Version 2 will allow you to customize this page with easy access to all your links</p> -->
    </div>   
    
    
    </div>



{% endblock %}