

{% layout 'layout.liquid'%}
{% block content %}

<div class="mapContainer"> 
<div id="map" class="map"></div>
<div class='sidebar'>
    <div class='heading'>
      <h1>Find a Pharmacy</h1>
    </div>
    <div id='listings' class='listings'></div>
  </div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcGhhbmllb255ZWthYmEiLCJhIjoiY2wwd3VpbjVjMHBoNDNmcDVleHJleDQwdCJ9.w6yzNkwWHFAwqUEMQn-Alg';
    
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-77.034084, 38.909671],
        zoom: 13,
        scrollZoom: false
    });
    </script>



</div>












  
    



  {% endblock %}


















