{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/med" method="POST">
        <fieldset>
            <legend>Add Medication</legend>
            <!-- DATE OF MED SELECTED -->
            <label class="form-label">Date: </label>
            <input 
                type="STRING"
                name="date" 
                placeholder="MM/DD/YYYY"
                class="form-control"
            >
          
            
            <!-- DROP DOWN TO SELECT A MED -->
            <label class="form-label">Select drug </label>
            <input 
                type="string" 
                name="name" 
                placeholder="choose a drug"
                class="form-control"
            >
           
            <!-- DOSAGE OF MED SELECTED -->
            <label class="form-label">Dosage: </label>
            <input 
                type="number"
                name="dose" 
                placeholder="mg"
                class="form-control"
            >

            
             <!-- ADD NOTES TO DRUG -->
             <label class="form-label">Notes </label>
             <input 
                 type="text" 
                 name="notes" 
                 placeholder="enter your notes here" 
                 class="form-control"
             >
 
           
            <!-- CHECKBOX IF MED IS PM -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="taken" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">PM med</label>
              </div>
        </fieldset>
        <input type="submit" value="Add New" class="btn btn-primary">

    </form>
</div>
{% endblock %}







